/* Reset */

body {
    padding: 0;
    margin: 0;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
span,
div,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

img,
div {
    margin: 0;
    padding: 0;
    border: 0;
    border-style: none;
}


/* Style*/

.page-wrapper {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
}

.header {
    position: relative;
}

.header-row {
    max-width: 100%;
    height: 250px;
    display: flex;
    overflow: hidden;
}

.bottom-row {
    height: 230px;
    overflow: hidden;
}

.header-img {
    min-width: 250px;
    width: 250px;
    overflow: hidden;
}

.icon-social {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
}

.icon-social__link {
    font-family: 'Proxima Nova';
    font-weight: 600;
    letter-spacing: .025em;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

.menu-wrapper {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    background: #fff;
}

.main-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#check-menu {
    display: none;
}

label {
    display: none;
}

.menu-item a {
    display: block;
    padding: 45px 20px 40px 20px;
    margin: 0px 17px;
    font-family: 'OpenSans-SemiBold';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
}

.block-wrapper {
    background: #fbfafa;
}

.block {
    padding: 110px 0px 175px;
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
}

.title {
    box-sizing: border-box;
    padding: 30px 30px 80px;
    font-family: 'OpenSans-Light';
    font-weight: 300;
    /* font-size: 40px; */
    font-size: 26px;
    color: #555559;
    letter-spacing: -0.05em;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 50%;
    max-width: 50%;
    background: #fff;
    color: #555559;
    letter-spacing: -0.04em;
    display: flex;
    align-items: center;
}

.card img {
    width: 100%;
}

.card-info {
    width: 440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 42px;
}

.line {
    vertical-align: middle;
    stroke: #555559;
    stroke-width: 3px;
    width: 32px;
    height: 3px;
}

.card-title {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    font-size: 24px;
    margin-left: -38px;
}

.card-description {
    font-family: 'OpenSans-Light';
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    padding: 35px 0px 10px;
}

.button {
    display: inline-block;
    background: #286782;
    border-radius: 7px;
    padding: 25px 35px 20px;
    font-family: 'OpenSans-SemiBold';
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.02, 1.02);
}

.button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.footer {
    background: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    font-size: 14px;
    color: #555559;
}

.footer-item {
    padding: 30px 20px;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url("fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("fonts/ProximaNova.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url("fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}